/*common*/

body {
  font-family: 'Roboto', sans-serif;
}

/*
.container {
  min-width: 1400px;
}
*/

.title-info {
  font-size: 36px;
  font-weight: 700;
}

.title-description {
  font-size: 20px;
  font-weight: 300;
}

.hor-line {
  width: 47px;
  height: 5px;
}

.fontcolor_black {
  color: #424242;
}

.fontcolor_white {
  color: #ffffff;
}

/*header*/

.contacts {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 42px;
  background-color: #f0f2f4;
  padding-left: 190px;
  padding-right: 190px;
  box-shadow: 0px 1px 0px 0px #e2e2e2;
  font-family: Helvetica, sans-serif;
}

.contactsinfo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #424242;
  font-size: 15px;
}

.contacts__phone {
  border-right: #e2e2e2 1px solid;
  padding-right: 20px;
}

.contacts__phone-img {
  margin-right: 11px;
  color: #424242;
  font-size: 17px;
}

.contacts__email {
  padding-left: 20px;
  padding-right: 12px;
}

.contacts__email-img {
  margin-right: 8px;
  color: #424242;
  font-size: 19px;
}

.contacts__email-link {
  color: #424242;
  text-decoration: none;
}

.contacts__socialinfo {
  border-radius: 3px;
  background-color: #1287bf;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
}

.header__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 42px 190px;
}

.header__navbar-logo {
  display: flex;
  align-items: center;
}

.header__navbar-logo-link {
  text-decoration: none;
}

.header__navbar-logo-img {
  margin-right: 10px;
  color: #dd2a24;
  font-size: 57px;
}

.logo-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: #424242;
  font-size: 37px;
  font-weight: 700;
}

.logo-subheading {
  color: #424242;
  font-size: 15px;
  font-weight: 400;
}

.header__navbar-nav {
  display: flex;
  align-items: center;
}

.header__navbar-nav-menu {
  display: flex;
  align-items: center;
  margin-right: 32px;
}

.header__navbar-nav-menu-item {
  display: flex;
  align-items: center;
}

.header__navbar-nav-menu-item:not(:last-of-type)::after {
  font-size: 23px;
  content: "•";
  margin-left: 15px;
  margin-right: 15px;
}

.header__navbar-nav-menu-itemlink {
  color: #424242;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
}

.header__navbar-nav-menu-itemlink_active, .header__navbar-nav-menu-itemlink:hover {
  color: #de2b24;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
}

.btn-red {
  border-radius: 4px;
  background-color: #de2b24;
  padding: 12px 25px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
}

/*banner*/

.container-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/Banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding: 176px 190px 236px;
  text-align: center;
}

.banner__title {
  margin-bottom: 32px;
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
}

.banner__subtitle {
  display: block;
  color: #ffffff;
  font-size: 30px;
  font-weight: 300;
}

.banner__btn {
  border-radius: 4px;
  background-color: #f8ce52;
  padding: 25px 40px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 25px;
  font-weight: 700;
}

/* About us*/

.container-about {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 102px;
  padding-bottom: 143px;
  text-align: center;
}

.about__title-info {
  color: #424242;
  font-size: 36px;
  font-weight: 700;
}

.hor-line_black {
  background-color: #424242;
  margin-top: 14px;
  margin-bottom: 46px;
}

.about__title-decription {
  color: #424242;
  font-size: 20px;
  font-weight: 300;
}

.about__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.about__list-item {
  width: 25%;
}

.about__list-item-img {
  margin-bottom: 20px;
}

.about__list-item-title {
  margin-bottom: 14px;
  color: #424242;
  font-size: 22px;
  font-weight: 700;
}

.about__list-item-description {
  color: #5b5b5b;
  font-size: 13.5px;
  padding-left: 52px;
  padding-right: 52px;
  line-height: 22px;
}

/*ourwork*/

.container-ourwork {
  background-color: #de2b24;
  padding: 110px 188px 131px;
  text-align: center;
}

.hor-line_white {
  background-color: #ffffff;
  margin-top: 17px;
  margin-bottom: 47px;
}

.ourwork__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ourwork__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f35e59;
}

.ourwork__list-iteminfo {
  padding: 74px 45px;
  box-sizing: border-box;
  height: 253px;  
}

.ourwork-plane {
  color: #f9afac;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 25px;
}

.ourwork__list-item-title {
  color: #ffffff;
  font-size: 26px;
  font-weight: 700;
}

.ourwork__list-item-subtitle {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}

/* subsribe and sociallinks*/

.container-subscribe {
  display: flex;
  flex-direction: column;
  background-color: #2a2a2a;
  padding: 90px 188px 84px;
  text-align: center;
}

.title-info-social {
  margin-bottom: 26px;
  color: #ffffff;
  font-size: 29px;
  font-weight: 700;
}

.socialbuttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
}

.socialbtn__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1px;
  border-style: solid;
  border-width: 2px;
  border-color: #515151;
  background-color: rgba(243, 243, 243, 0);
  width: 47px;
  height: 47px;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: #ffffff;
  font-size: 23px;
  transition: border-color .5s;
}

.socialbtn__link:hover {
  border-color: #de2b24;
}

.subscribe-caption {
  margin-bottom: 31px;
  color: #cecece;
  font-size: 14px;
  font-weight: 400;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe-email {
  border: 0px;
  border-radius: 1px;
  background-color: #515151;
  width: 65%;
  min-width: 200px;
  padding: 20px 22px;
  outline: none;
  margin-bottom: 24px;
  color: #cecece;
  font-size: 14px;
}

.subscribe-email::placeholder {
  color: #ffffff;
}

.subscribe-btn {
  background-color: #2a2a2a;
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
  border-color: #515151;
  padding: 15px 35px;
  outline: none;
  color: #ffffff;
  font-size: 17px;
  font-weight: 700;
}

/*footer*/

.container-footer {
  background-color: #515151;
  padding: 26px 188px 27px;
  text-align: center;
}

.copyright-info {
  color: #cecece;
  font-size: 14px;
}